{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="{% static "images/bg/breadcrumb-bg-1.jpeg" %}"
        data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="{% static "images/shape/breadcrumb-shape-1.png" %}" alt=""></div>
        <div class="shape shape__2"><img src="{% static "images/shape/breadcrumb-shape-2.png" %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Ord Detail</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="{% url 'home' %}"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Ord Information</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- cart area start -->
    <div class="cart-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="cart-wrapper">
                        <div class="table-content table-responsive">
                            <!-- <style>
                                .table_row {
                                    display: flex;
                                    justify-content: space-around;
                                }
                            </style> -->
                            <div class="table_row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Product Image</th>
                                            <th class="cart-product-name">Product Name</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Table</th>
                                            <th class="product-subtotal">subTotal</th>
                                            <th class="product-subtotal">Process</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart in cart %}
                                        {% for item in items %}
                                        {% if forloop.first %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#" class="img">
                                                    <img src="{{ item.product.photo.url}}" alt="">
                                                </a>
                                            </td>
                                            <td class="product-name"><a href="#">{{ item.product.name }}</a></td>
                                            <td class="product-price"><span class="amount">$ {{ item.price }}</span></td>
                                            <td class="product-quantity"><span class="amount">{{ item.quantity }}</span></td>
                                            <td class="product-quantity"><span class="amount">{{ cart.cart_table }}</span></td>
                                            <td class="product-subtotal"><span class="amount">$ {{ cart.total_price }}</span></td>
                                            <td class="product-subtotal"><span class="amount">{{ process.0 }}</span></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end -->
</main>
{% endblock content %}
