                        <div class="main-menu main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href={% url 'home' %}>Home</a></li>
                                    <li><a href={% url 'menu' %}>Menu</a></li>
                                    <li><a href={% url 'cart' %}>Shop Cart</a></li>
                                    <li><a href={% url 'reservation' %}>Shop Checkout</a></li>
                                </ul>
                            </nav>
                        </div>
