{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- login area start -->
    <div class="login-area"
        style="height: 100vh; display: flex; align-items: center; justify-content: center; background-color: #222;">
        <div class="login-wrapper"
            style="width: 100%; max-width: 430px; background-color: #333; padding: 40px; border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.3);">
            <form action="" method="post"
                style="color: #ddd; display: flex; flex-direction: column; align-items: center;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="site-btn mt-30"
                    style="background-color: #C7A17A; color: #ddd; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px; display: block; width: 100%;">Login</button>
            </form>
        </div>
    </div>

    <!-- login area end -->
</main>
{% endblock content %}