
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="{% static "images/bg/breadcrumb-bg-1.jpeg" %}"
        data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="{% static "images/shape/breadcrumb-shape-1.png" %}" alt=""></div>
        <div class="shape shape__2"><img src="{% static "images/shape/breadcrumb-shape-2.png" %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Register</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="{% url 'home' %}"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Register</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- enhanced registration area start -->
    <div class="registration-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="registration-wrapper">
                        <h3 class="registration-title">Create an Account</h3>
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.phone_number.label_tag }}
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </div>
                            <button type="submit" class="register-btn">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- enhanced registration area end -->
</main>
{% endblock content %}
