{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>MENU</title>
{% endblock title %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="{% static 'images/bg/breadcrumb-bg-1.jpeg' %}"
        data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="{% static 'images/shape/breadcrumb-shape-1.png' %}" alt=""></div>
        <div class="shape shape__2"><img src="{% static 'images/shape/breadcrumb-shape-2.png' %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">cafena menu</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="index.html"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>menu</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- populer menu area start -->
    <section class="popular-menu__area dark-bg position-relative pb-120">
        <span class="shape shape__1 position-absolute"><img src="static/images/shape/top-grade-shape-1.png"
                alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="static/images/shape/footer-top-shape-1.png"
                alt=""></span>
        <span class="shape shape__3 position-absolute"><img src="static/images/shape/menu-shape-3.png"
                alt=""></span>
        <span class="shape shape__4 position-absolute"><img src="static/images/shape/top-grade-shape-2.png"
                alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading mb-40">
                        <span class="sub-title">Special menu</span>
                        <h2 class="title">Group 5 - Coffee shop Popular Menu</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="popular-menu__wrapper m-auto d-inline-block">
                        <div class="popular-menu__filter d-flex justify-content-center align-items-center mb-55">
                            <form action="" method="post" class="popular-menu__filter d-flex justify-content-center align-items-center mb-55">
                                {% csrf_token %}
                                <button class="active" data-filter="*" type="submit" name="all"><iconify-icon class="icon" icon="bxs:food-menu"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">All</div>
                                </button>
                                {% for cat in category %}
                                <button data-filter=".cat1" type="submit" name="{{ cat.name }}" value="{{ cat.name }}"><img src="{{ cat.photo.url }}" alt="" style="width: 32px;height: 32px;">
                                    <div class="navi-text">{{ cat.name }}</div>
                                </button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for pt in product %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 l-item grid-item mt-35">
                        <form action="" method="post" class="l-item grid-item mt-35">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card__wrapper"></div>
                                <div class="card__img">
                                    <img src="{{ pt.photo.url }}" alt="">
                                </div>
                                <h3 class="view title border-effect"><a href="#">{{ pt.name }}</a></h3>
                                <div class="card__subtitle">{{ pt.description }}</div>
                                <div class="card__wrapper">
                                    <div class="card__price" data-price="11.6">$ {{ pt.price }}</div>
                                    <div class="card__counter">
                                        {% comment %} <button class="card__btn" onclick="decrementCounter('counterScore1', event)">-</button>
                                        <div class="card__counter-score" id="counterScore1">1</div>
                                        <button class="card__btn card__btn-plus" onclick="incrementCounter('counterScore1', event)">+</button> {% endcomment %}
                                        <select name="quantity" id="quantity" style="background-color: transparent;">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="card__btn3" type="submit" name="{{ pt.name }}" value="{{ pt.name }}">ADD TO CART</button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    <!-- populer menu area end -->

    <!-- product popup start -->
    {% comment %} <div class="product-popup product-popup-1">
        <div class="view-background">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    <div class="quickview d-flex align-items-center justify-content-center">
                        <div class="quickview__thumb">
                            <img src="{% static 'base/caramel.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="viewcontent">
                        <div class="viewcontent__header">
                            <h2>Caramel Macchiato</h2>
                            <a class="view_close product-p-close" href="javascript:void(0)"><i
                                    class="fal fa-times"></i></a>
                        </div>
                        <div class="viewcontent__price">
                            <h4><span>$</span>99.00</h4>
                        </div>
                        <div class="viewcontent__details">
                            <p>Coffee, milk ...</p>
                        </div>
                        <div class="viewcontent__action">
                            <span>Qty</span>
                            <input type="number" placeholder="1">
                            <a class="site-btn" href="#">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- product popup end -->
</main>

{% endblock content %}


