<div class="product-popup product-popup-1">
    <div class="view-background">
        <div class="row">
            <div class="col-md-4 align-self-center">
                <div class="quickview d-flex align-items-center justify-content-center">
                    <div class="quickview__thumb">
                        <img src="{{ product.photo.url }}" alt="{{ product.name }}">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="viewcontent">
                    <div class="viewcontent__header">
                        <h2>{{ product.name }}</h2>
                        <a class="view_close product-p-close" href="javascript:void(0)"><i class="fal fa-times"></i></a>
                    </div>
                    <div class="viewcontent__price">
                        <h4><span>$</span>{{ product.price }}</h4>
                    </div>
                    <div class="viewcontent__details">
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="viewcontent__action">
                        <span>Qty</span>
                        <input type="number" placeholder="1">
                        <a class="site-btn" href="#">add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
