{% extends 'base.html' %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- hero area start -->
    <section class="hero__area position-relative custom-padding">
        <span class="shape shape__1 position-absolute"><img src="static/images/shape/blog-section-shape-1.png"
                alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="static/images/shape/hero-shape-2-2.png"
                alt=""></span>
        <div class="container-fluid custom-width">
            <div class="row mm-reverse">
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="hero__content position-relative">
                        <h1 class="title mb-10">Distinct <br>
                            coffee aroma</h1>
                        <p>The coffee is brewed by first roasting the green coffee beans over hot <br> coals in a
                            brazier. given an opportunity to sample.</p>
                        <div class="btns mt-45 d-flex align-items-center justify-content-start">
                            <a href="#" class="site-btn">testy Coffee</a>
                            <a href="#" class="site-btn site-btn__borderd">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="hero__thumb position-relative">
                        <img src="static/images/hero/hero-img-2-1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero area end -->
</main>
{% include 'menu/menu.html' %}
{% endblock content %}
