{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="{% static "images/bg/breadcrumb-bg-1.jpeg" %}"
        data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="{% static "images/shape/breadcrumb-shape-1.png" %}" alt=""></div>
        <div class="shape shape__2"><img src="{% static "images/shape/breadcrumb-shape-2.png" %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Group 5 Cart</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="{% url 'home' %}"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Cart</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- cart area start -->
    <div class="cart-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    {% if product %}
                    <div class="cart-wrapper">
                        <div class="table-responsive mobile-vertical-table">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Product Image</th>
                                        <th class="cart-product-name">Product Name</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">subTotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pt in product %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#" class="img">
                                                <img src="{{ pt.product_photo}}" alt="">
                                            </a>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                            <button class="product-remove" type="submit" name="remove" value="{{ pt.product_name }}" style="background: unset;"><i class="fal fa-times"></i></button>
                                            </form>
                                        </td>
                                        <td class="product-name"><a href="#">{{ pt.product_name }}</a></td>
                                        <td class="product-price"><span class="amount">$ {{ pt.product_price }}</span></td>
                                        <td class="product-quantity"><span class="amount">{{ pt.product_quantity }}</span></td>
                                        <td class="product-subtotal"><span class="amount">$ {{ pt.total }}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col-xl-12 text-center">
                                <div class="cart-total mt-100">
                                    <h2 class="title">Cart Total</h2>
                                    <div class="ct-sub ct-sub__total">
                                        <span>Total</span>
                                        {% if sub_total %}
                                        <span>$ {{ sub_total }}</span>
                                        {% else %}
                                        <span>$ 0</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-7">
                                <div class="cart-total mt-100">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button data-filter=".cat1" type="submit" name="done" value="" class="site-btn mt-30">finalize</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="cart-wrapper">
                        <div class="table-responsive">
                            <table class="table-striped">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-name text-center"><h2 style="color: aliceblue;">There is nothing to show<br>You have to add something</h2></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-7">
                                <div class="cart-total mt-100">
                                    <a href="{% url 'menu' %}"><button data-filter=".cat1" type="submit" name="done" value="" class="site-btn mt-30">Add Product</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end -->
</main>
{% endblock content %}
