<main>
        <!-- populer menu area start -->
        <section class="popular-menu__area dark-bg position-relative pb-120">
            <span class="shape shape__1 position-absolute"><img src="static/images/shape/top-grade-shape-1.png"
                    alt=""></span>
            <span class="shape shape__2 position-absolute"><img src="static/images/shape/footer-top-shape-1.png"
                    alt=""></span>
            <span class="shape shape__3 position-absolute"><img src="static/images/shape/menu-shape-3.png"
                    alt=""></span>
            <span class="shape shape__4 position-absolute"><img src="static/images/shape/top-grade-shape-2.png"
                    alt=""></span>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <div class="section-heading mb-40">
                            <span class="sub-title">Special menu</span>
                            <h2 class="title">Group 5 - Coffee shop Popular Menu</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <div class="popular-menu__wrapper m-auto d-inline-block">
                            <div class="popular-menu__filter d-flex justify-content-center align-items-center mb-55">
                                <button class="active" data-filter="*"><iconify-icon class="icon" icon="bxs:food-menu"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">All</div>
                                </button>
                                <button data-filter=".cat1"><iconify-icon class="icon" icon="fluent:food-egg-24-filled"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">Breakfast</div>
                                </button>
                                <button data-filter=".cat2"><iconify-icon class="icon" icon="ion:cafe"
                                        style="color: rgb(255, 255, 255);" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">Coffee</div>
                                </button>
                                <button data-filter=".cat3"><iconify-icon class="icon" icon="ps:milkshake"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">Shakes
                                </button>
                                <button data-filter=".cat4"><iconify-icon class="icon" icon="ion:ice-cream"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">Ice Cream
                                </button>
                                <button data-filter=".cat5"><iconify-icon class="icon" icon="mdi:tea"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">Tea</div>
                                </button>
                                <button data-filter=".cat6"><iconify-icon class="icon" icon="pajamas:food"
                                        style="color: white;" width="32" height="32"></iconify-icon>
                                    <div class="navi-text">Sandwich
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 l-item grid-item cat1 cat3 cat4 mt-35">
                            <div class="card">
                                <div class="card__wrapper">
                                </div>
                                <div class="card__img"><img src="static/images/menu/mocha.png" alt=""></div>
                                <h3 class="view title border-effect"><a href="#0">Mocha</a></h3>
                                <div class="card__subtitle">Coffee, milk ...
                                </div>
                                <div class="card__wrapper">
                                    <div class="card__price" data-price="11.6">$ 11.6</div>
                                    <div class="card__counter">
                                        <button class="card__btn" onclick="decrementCounter('counterScore1')">-</button>
                                        <div class="card__counter-score" id="counterScore1">1</div>
                                        <button class="card__btn card__btn-plus"
                                            onclick="incrementCounter('counterScore1')">+</button>
                                    </div>
                                </div>
                                <button class="card__btn3">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 l-item grid-item cat1 cat3 cat4 mt-35">
                            <div class="card">
                                <div class="card__wrapper">
                                </div>
                                <div class="card__img"><img src="static/images/menu/cappuccino.png" alt=""></div>
                                <h3 class="view title border-effect"><a href="#0">Cappuccino</a></h3>
                                <div class="card__subtitle">Coffee, milk ...
                                </div>
                                <div class="card__wrapper">
                                    <div class="card__price" data-price="10.3">$ 10.3</div>
                                    <div class="card__counter">
                                        <button class="card__btn" onclick="decrementCounter('counterScore2')">-</button>
                                        <div class="card__counter-score" id="counterScore2">1</div>
                                        <button class="card__btn card__btn-plus"
                                            onclick="incrementCounter('counterScore2')">+</button>
                                    </div>
                                </div>
                                <button class="card__btn3">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 l-item grid-item cat1 cat3 cat4 mt-35">
                            <div class="card">
                                <div class="card__wrapper">
                                </div>
                                <div class="card__img"><img src="static/images/menu/caramel.png" alt=""></div>
                                <h3 class="view title border-effect"><a href="#0">Caramel Macchiato</a></h3>
                                <div class="card__subtitle">Coffee, milk ...
                                </div>
                                <div class="card__wrapper">
                                    <div class="card__price" data-price="12">$ 12</div>
                                    <div class="card__counter">
                                        <button class="card__btn" onclick="decrementCounter('counterScore3')">-</button>
                                        <div class="card__counter-score" id="counterScore3">1</div>
                                        <button class="card__btn card__btn-plus"
                                            onclick="incrementCounter('counterScore3')">+</button>
                                    </div>
                                </div>
                                <button class="card__btn3">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- populer menu area end -->

        <!-- product popup start -->
        <div class="product-popup product-popup-1">
            <div class="view-background">
                <div class="row">
                    <div class="col-md-4 align-self-center">
                        <div class="quickview d-flex align-items-center justify-content-center">
                            <div class="quickview__thumb">
                                <img src="base/caramel.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="viewcontent">
                            <div class="viewcontent__header">
                                <h2>Caramel Macchiato</h2>
                                <a class="view_close product-p-close" href="javascript:void(0)"><i
                                        class="fal fa-times"></i></a>
                            </div>
                            <div class="viewcontent__price">
                                <h4><span>$</span>99.00</h4>
                            </div>
                            <div class="viewcontent__details">
                                <p>Coffee, milk ...</p>
                            </div>
                            <div class="viewcontent__action">
                                <span>Qty</span>
                                <input type="number" placeholder="1">
                                <a class="site-btn" href="#">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- product popup end -->

</main>
