{% extends 'baseAdmin.html' %}
{% load static %}
{% block content %}
{% include 'cart/sidecart.html' %}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="{% static " images/bg/breadcrumb-bg-1.jpeg"
        %}" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="{% static " images/shape/breadcrumb-shape-1.png" %}" alt=""></div>
        <div class="shape shape__2"><img src="{% static " images/shape/breadcrumb-shape-2.png" %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Ord Detail</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="{% url 'home' %}"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Ord Information</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- cart area start -->
    <div class="cart-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="cart-wrapper">
                        <div class="table-content table-responsive">
                            <div class="reservation__form reservation__form--2 mt-none-30 text-center">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="from-group mt-30">
                                                <input type="tel" name="tel" id="tel" placeholder="Enter your number">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 text-center">
                                            <div class="cart-total mt-100">
                                                <button type="submit" class="site-btn mt-30">See History</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end -->
</main>
{% endblock content %}