{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    
{% endblock %}

{% block content %}
    <h2>Manager's Dashboard</h2>

    <canvas id="salesByCustomerChart" width="400" height="200 "></canvas>
    <canvas id="popularItemsChart" width="400" height="200"></canvas>
    <canvas id="peakBusinessHourChart" width="400" height="200"></canvas>
    <canvas id="salesByCategoryChart" width="400" height="200"></canvas>
    <canvas id="salesByEmployeeChart" width="400" height="200"></canvas>
    <canvas id="popularItemsMorningChart" width="400" height="200"></canvas>
    <canvas id="orderStatusChart" width="400" height="200"></canvas>
    <label for="datePicker">Select Date:</label>
    <input type="date" id="datePicker">
    <canvas id="topSellingItemsChart" width="400" height="200"></canvas>
    <canvas id="totalSalesChart" width="400" height="200"></canvas>
    <canvas id="dailySalesChart" width="400" height="200"></canvas>
    <canvas id="monthlySalesChart" width="400" height="200"></canvas>
    <canvas id="yearlySalesChart" width="400" height="200"></canvas>
    <a href="{% url 'history_for_manager' %}">View Manager History</a>
    <script src="{% static 'js/manager.js' %}"></script>



    
{% endblock %}
